<!-- Three -->
<section id="three" class="wrapper style1 fade-up">
	<div class="inner">
		<h2>Get in touch</h2>
		<p>Please feel free to contact me for any query you have on test automation.</p>
		<div class="features">
			<section>
				<ul class="contact">
					<li>
						<h3>Address</h3>
						<span>Banjara Hills<br />
						Hyderabad, Telangana 500034<br />
						INDIA</span>
					</li>
					<li>
						<h3>Email</h3>
						<a href="abhilash04sharma@gmail.com">abhilash04sharma@gmail.com</a>
					</li>
					<li>
						<h3>Phone</h3>
						<span>+91-9814606102</span>
					</li>
					<li>
						<h3>Social</h3>
						<ul class="icons">
							<li><a href="https://twitter.com/abhi_cognite" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/abhilash.sharma.5496" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/Abhilash04" class="fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://www.instagram.com/abhi_sharma4/" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/abhilash-sharma-b8444b51/" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
					</li>
				</ul>
			</section>
		</div>
	</div>
</section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
	<div class="inner">
		<ul class="menu">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="https://github.com/Abhilash04">Elixir Automation</a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>